#{{ ansible_managed }}

{% macro add_kv(k, v) %}
  {% if v is string %}
    {{ k }} = '{{ v }}'
  {% elif v == true %}
    {{ k }} = true
  {% elif v == false %}
    {{ k }} = false
  {% else %}
    {{ k }} = {{ v }}
  {% endif %}
{% endmacro %}

# General Section
{{ add_kv('debug', traefik_debug) }}


{% if traefik_enable_https %}
  defaultEntryPoints = ["https","http"]
{% else %}
  defaultEntryPoints = ["http"]
{% endif %}


[entryPoints]
  [entryPoints.http]
  address = ":{{ traefik_http_port }}"
{% if traefik_enable_https %}
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":{{ traefik_https_port }}"
    [entryPoints.https.tls]
{% endif %}


# Retry Definition
[retry]


{% if traefik_enable_ui %}
# API definition
[api]
{% endif %}


{% if 'ping' in traefik_enable %}
# Ping Definition
[ping]
  {% for key,value in traefik_config_ping.iteritems() %}
    {{ add_kv(key, value) }}
  {% endfor %}
{% endif %}


{% if 'docker' in traefik_enable %}
# Backend: Docker Definition
[docker]
  {% for key,value in traefik_config_docker.iteritems() %}
    {{ add_kv(key, value) }}
  {% endfor %}
{% endif %}


{% if 'acme' in traefik_enable %}
# Backend: ACME Definition
[acme]
  {% for key,value in traefik_config_acme.iteritems() %}
    {{ add_kv(key, value) }}
  {% endfor %}

  {% if traefik_acme_dry_run == true %}
    {{ add_kv('caServer', 'https://acme-staging-v02.api.letsencrypt.org/directory') }}
  {% endif %}

  [acme.httpChallenge]
  entryPoint = "http"
{% endif %}
